* {
    padding: 0;
    margin: 0;
}

section {
    padding: 80px 0;
}

.layout-container {
    max-width: 1500px;
    width: 80%;
    margin: 0 auto;
}

.logo-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.logo-container img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

h1 {
    font-size: 27px;
}

.col {
    padding-left: 0px;
    padding-right: 0px;
}

textarea {
    min-height: 40px;
    height: 60px;
    max-height: 80px;
}

.glass-shadow {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.15),
        0 2px 8px rgba(255, 255, 255, 0.1) inset;
}

.btn-slide {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    color: #1e3a8a;
    /* blue text */
    background: #ffffff;
    /* white bg */
    position: relative;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.2);
    transition: all 250ms ease;
    overflow: hidden;
    z-index: 0;
    margin: 0 auto;
}

.btn-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background: linear-gradient(to right,
            #2563eb 0%,
            #2563eb 70%,
            #60a5fa 100%);

    z-index: -1;
    transition: width 250ms ease;
}

.btn-slide:hover {
    color: #ffffff;
}

.btn-slide:hover::before {
    width: 100%;
}

.table-container {
    margin-top: 50px;
}

.table-container table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
}


.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    border-radius: 50px;
    transition-duration: 0.3s;
    background: linear-gradient(to right,
            #2563eb 0%,
            #2563eb 70%,
            #60a5fa 100%);
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.delete-button:hover {
    transition-duration: 0.3s;
    background: linear-gradient(to right,
            #2563eb 0%,
            #2563eb 70%,
            #60a5fa 100%);
    align-items: center;
    gap: 0;
}

.bin-top {
    transform-origin: bottom right;
}

.delete-button:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}